<article class="eventCard" [style.backgroundImage]="'url(' + imgUrl + ')'">
  <header class="eventCard__header">
    <div class="eventCard__calendar">
      <p>{{ day }}</p>
      <p>{{ month }}</p>
    </div>
    <p class="eventCard__ticketsBought">{{ currentMembers }}/{{ maxMembers }}</p>
  </header>
  <footer class="eventCard__footer">
    <div>
    <p>{{ title }}</p>
    <p>{{ description }}</p>
  </div>
    <div class="price">
      <p>R$ <span>{{ price }}</span></p>
    </div>
  </footer>
</article>
