@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;

.eventCard {
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  min-height: 166px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }

  &__header,
  &__calendar {
    display: flex;
    z-index: 1;
  }

  &__header {
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    color: #fff;

    > p {
      font-weight: 600;
      z-index: 1;
    }
  }

  &__calendar {
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    width: 32px;
    aspect-ratio: 1;

    & > p {
      color: colors.$gray-12;
      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        color: colors.$gray-12;
        font-weight: 400;
        font-size: 10px;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    border-radius: 0 6px 6px 0;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: rgba($color: #000000, $alpha: 0.1);
      backdrop-filter: blur(2px);
      box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.15);
    }

    & > p {
      &:first-child {
        color: #fff;
        font-weight: 500;
        margin-bottom: 4px;
      }

      &:last-child {
        color: colors.$gray-6;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}
