<main class="container">
  <app-title title="Ministérios" subTitle="Gerencie os ministérios da classe "></app-title>
  <div class="container__header">
    <app-button [withIcon]="true"><lucide-angular size="18" [img]="FilterIcon"></lucide-angular>Filtros</app-button>
    <app-button routerLink="new" [color]="'primary'" [variant]="'contained'">Novo</app-button>
  </div>
  <ul class="container__ministerys">
    @for (ministery of ministerys; track $index) {
    <li>
      <app-ministery-card [groupImg]="ministery.imgUrl" [groupName]="ministery.name" [groupTotalMembers]="ministery.membersId.length" />
    </li>
    }
  </ul>
</main>
