@use '../../../ui/styles/mixins' as mixins;
@use '../../../ui/styles/colors' as colors;

.container {
  padding: 24px 16px 68px 16px;
  position: relative;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-content {
  

  gap: 1rem;
  width: 100%;
  flex-direction: column;
  margin-top: 6px;

}

.active {
  background-color: colors.$purple-a9;
  color: white;
}


