<main class="container">
  <!-- <app-title title="Calendário" subTitle="Gerencie eventos e escalas"></app-title> -->
  <app-title title="Escalas" subTitle="Gerencie as escalas da classe"></app-title>

  <!-- <div class="toggles">
    <app-toggle title="Escalas" [isActive]="activeView === 'scales'" (click)="showScales()"> </app-toggle>
    <app-toggle title="Eventos" [isActive]="activeView === 'events'" (click)="showEvents()"> </app-toggle>
  </div> -->

  <ul>
    @for (scale of scales; track $index) {
    <li>
      <app-scale-card [date]="scale.date" [id]="scale.id" [members]="scale.members" [ministery]="scale.ministery" />
    </li>
    }
  </ul>

  <!-- <div class="flex-content">
    @if (activeView === 'scales') {
    <app-accordion-calendar date="25/01"></app-accordion-calendar>
    } @if (activeView === 'events') {
    <app-event-card
      [currentMembers]="34"
      [maxMembers]="50"
      [price]="50"
      [description]="'Elias Fausto - SP'"
      [title]="'Acampamento de Carnaval'"
      [date]="date"
      [imgUrl]="imgUrl"
    >
    </app-event-card>
    }
  </div> -->

  <div class="addButton">
    <app-button (btnClick)="redirectToNewContent()" [roundedFullSquared]="true" [variant]="'icon'" [color]="'primary'">
      <lucide-angular [img]="PlusIcon"></lucide-angular>
    </app-button>
  </div>
</main>
