<article class="card">
  <div class="card__user">
    <img [src]="imgUrl" />
    <hgroup>
      <h3>
        {{ name }}
      </h3>
      <h4>
        {{ ministeryId }}
      </h4>
    </hgroup>
  </div>
  <div class="card__actions">
    <app-button [color]="'none'" [variant]="'icon'">
      <lucide-angular size="16" [img]="EditIcon"></lucide-angular>
    </app-button>
    <app-button [color]="'none'" [variant]="'icon'">
      <app-two-dot-icon></app-two-dot-icon>
    </app-button>
  </div>
</article>
