@use '../../../../ui/styles/mixins' as mixins;
@use '../../../../ui/styles/colors' as colors;

.container {
  padding: 24px 16px 68px 16px;
  position: relative;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__header {
    justify-content: space-between;
    @include mixins.vertical-align;

    > h3 {
      color: colors.$gray-12;
      font-weight: 500;
      font-size: 18px;
    }

    > a {
      text-decoration: underline;
      color: colors.$purple-9;
      font-size: 12px;
      cursor: pointer;
    }
  }

  &:last-child {
    margin-top: 24px;

    > ul {
      display: flex;
      align-items: center;
      gap: 8px;
      overflow-x: auto;
      padding: 2px;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
