@use '../../../ui/styles/mixins' as mixins;
@use '../../../ui/styles/colors' as colors;

.container {
  padding: 64px 16px 24px 16px;
  position: relative;
  max-height: 100vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$purple-1;

  >img{
    height: 78px;
  }
}

.form{
  width: 100%;
  padding: 32px 0 16px 0;

  &__inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__forgetPW{
    display: flex;
    justify-content: flex-end;
    color: colors.$purple-9;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin: 12px 0 24px 0;
  }

  

}

.orText{
  width: 100%;
  @include mixins.vertical-align;
  gap: 16px;
  margin-bottom: 24px;

  >div{
    flex: 1;
    height: 1px;
    background-color: colors.$gray-5;
  }

  >p{
    font-size: 12px;
    color: colors.$gray-9;
  }
}

.socialMediaButton{
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  >button{
    color: colors.$gray-12;
    font-weight: 400 !important;
  }
}

.footer{
  font-size: 12px;
  color: colors.$gray-12;
  position: absolute;
  bottom: 16px;

  &__link{
    color: colors.$purple-9;
    text-decoration: underline;
  }
}