@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;

.header {
  background-color: #fff;
  width: 100dvw;
  position: sticky;
  top: 0;
  transition: 0.3s;
  z-index: 1000;

  &__left,
  &__nav,
  &__left__notify {
    @include mixins.vertical-align;
  }

  &__nav {
    justify-content: space-between;
    padding: 12px 16px;
  }

  &__left {
    gap: 8px;
  }
}

.header__left__userImg,
.header__left__notify {
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.header__left__notify {
  justify-content: center;
  background-color: colors.$gray-2;
}
