<main class="container">
  <app-title title="Membros" subTitle="Gerencie os membros da classe"></app-title>
  <div class="container__header">
    <app-button (btnClick)="toggleCard()" [withIcon]="true"><lucide-angular size="18" [img]="FilterIcon"></lucide-angular>Filtros</app-button>
    <app-button routerLink="new" [color]="'primary'" [variant]="'contained'">Novo</app-button>
  </div>
  <ul class="container__members">
    @for (member of members; track $index) {
    <li>
      <app-user-card
        [onClickEditUser]="onClickToEditUser"
        [userId]="member.id"
        [ministeryId]="member.ministeryID"
        [imgUrl]="member.imgUrl"
        [name]="member.name"
      ></app-user-card>
    </li>
    }
  </ul>
</main>
