<main class="container">
  <app-title title="Bem Vindo, André" subTitle="Visualize as principais informações"></app-title>
  <section class="section">
    <article class="article">
      <header class="article__header">
        <h3>Próximo Evento</h3>
        <a>Ver Eventos</a>
      </header>
      <app-event-card
        [currentMembers]="34"
        [maxMembers]="50"
        [description]="'Tenha uma experiência única com Jesus'"
        [title]="'Acampamento de Carnaval'"
        [date]="date"
        [imgUrl]="imgUrl"
      ></app-event-card>
    </article>
    <article class="article">
      <header class="article__header">
        <h3>Próximo Sábado, 25/01</h3>
        <a>Ver Escalas</a>
      </header>
      <ul>
        <li><app-ministery-scale-card></app-ministery-scale-card></li>
        <li><app-ministery-scale-card></app-ministery-scale-card></li>
        <li><app-ministery-scale-card></app-ministery-scale-card></li>
        <li><app-ministery-scale-card></app-ministery-scale-card></li>
      </ul>
    </article>
  </section>
</main>
