<main class="container">
  <app-title [subTitle]="'Preencha as informações abaixo'" title="Novo Ministério" />
  <form class="container__form">
    <app-file-input />
    <app-text-input [label]="'Título'" [inputProps]="titleInputProps" />
    <app-user-input [label]="'Responsável'" />
    <app-user-input [multiSelect]="true" [label]="'Membros'" />
    <app-button [customStyle]="{ width: '100%' }" [roundedFull]="true" [variant]="'contained'" [color]="'primary'" [type]="'submit'"
      >Enviar</app-button
    >
  </form>
</main>
<app-user-input-modal></app-user-input-modal>
