<main class="container">
  <app-title title="Sábado, 25/01" subTitle="Escala geral "></app-title>
  <ul class="scales">
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
    <li>
      <app-ministery-scale-card></app-ministery-scale-card>
    </li>
  </ul>
</main>
